#==============================================================================
# Print Start G code
#==============================================================================
[gcode_macro PRINT_START]
gcode:        
    lights_max
    #SET_LED LED="rgb" RED=1 GREEN=1 BLUE=1 SYNC=0 TRANSMIT=1
    status_heating
    M220 S100 # reset speed multiplier
    G90 ; test to see if this fixes out of range error
    # Parameters
    {% set bedtemp = params.BED|int %}
    {% set hotendtemp = params.HOTEND|int %}

    M104 S155 ; set extruder to 155deg
    M190 S{bedtemp} ; set & wait for bed temp
    status_homing
    G28 ; Home all axises
    #G90 ; test to see if this fixes rhe issue
    status_meshing
    BED_MESH_CALIBRATE ADAPTIVE=1
    G1 Z5 F5000 ;lift
    G1 X4 Y2 F5000 ; move to prime location
    G1 Z0.4 F2500 ;lift
    status_busy
    M109 S{hotendtemp}  ; set & wait for hotend temp
    status_off
    White
    G1 E15 f600 ; prime nozzle
    G1 Z0.2 F240 ; get ready to prime
    G92 E0 ; reset extruder distance position
    G1 X60.0 E9.0 F1000.0 ; intro line
    G1 X100.0 E23.5 F1000.0 ; intro line
    G92 E0 ;zero the extruded length again
    G1 F9000
    G0 Z2
    G90  ; absolute positioning
   
